<section class="home-exclusive bg-dark my-5">
  <div class="container text-center py-3">
    <h4 class="white">Exclusive Features</h4>
    <div class="d-flex flex-wrap align-items-center justify-content-around py-2">
      <img class="mb-3" src="{{ base_path ~ directory }}/assets/images/logos/exclusive-xe.svg" width="150" alt="XE">
      <img class="mb-3" src="{{ base_path ~ directory }}/assets/images/logos/exclusive-endura.svg" width="230" alt="Enduradrive Fan System">
      <img class="mb-3" src="{{ base_path ~ directory }}/assets/images/logos/exclusive-evertough.svg" width="210" alt="Evertough Construction">
      <img class="mb-3" src="{{ base_path ~ directory }}/assets/images/logos/exclusive-triarmor.svg" width="155" alt="Tri Armor">
      <img class="mb-3" src="{{ base_path ~ directory }}/assets/images/logos/exclusive-opticoil.svg" width="200" alt="Opti Coil System">
    </div>
    <p>*Not Available in NYC</p>
  </div>
</section>